# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Environment
venv/
.env
*.env

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/   # collected static files (if you run collectstatic)

# IDE / Editor
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Coverage / Testing
.coverage
.tox/
.pytest_cache/
htmlcov/

